.widget {
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  color: #fff;
  overflow: hidden;
}

.aqi-blue { background: #29b6f6; }
.aqi-green { background: #66bb6a; }
.aqi-yellow { background: #ffed4c; color: #333; }
.aqi-orange { background: #ffa726; }
.aqi-red { background: #ef5350; }

.widget-header-bar {
  background-color: rgba(0, 0, 0, 0.05); 
  width: 100%; 
  padding: 12px 24px; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}
.widget-city-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.widget-content {
  padding: 24px; 
}

.widget-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

/* --- ฝั่งซ้าย --- */
.widget-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  background: rgba(0, 0, 0, 0.1); 
  padding: 20px;
  border-radius: 16px;
  
  align-self: stretch; 
  height: auto; 
}
.widget-label {
  font-size: 1rem;
  font-weight: bold;
  opacity: 0.9;
  margin-bottom: 8px;
}

.widget-big-num {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1;
  margin: 10px 0;
}

.widget-status {
  font-size: 1.1rem;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.13);
  padding: 6px 20px;
  border-radius: 30px;
}

/* --- ฝั่งขวา  --- */
.widget-side {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px; 
  background: rgba(0, 0, 0, 0.05); 
  padding: 24px 32px;
  border-radius: 16px;
}

.widget-small-stat {
  display: flex;
  flex-direction: column;
}

.stat-label {
  font-size: 0.85rem;
  opacity: 0.95;
}

.stat-value {
  font-size: 1.2rem;
  font-weight: bold;
}

.stat-value small {
  font-size: 0.85rem;
  font-weight: normal;
  opacity: 0.9;
}

.widget-footer-time {
  text-align: right;
  font-size: 0.8rem;
  opacity: 0.75;
  font-weight: 500;
  letter-spacing: 0.5px;
  transform: translateY(8px);
}

.widget-icon-city {
  margin-right: 6px;
  font-size: 1.1rem;
  opacity: 0.8;
  transform: translateY(2px);
}

.stat-label-with-icon {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  opacity: 0.9;
}

.widget-icon-small {
  margin-right: 5px;
  font-size: 0.8rem;
  width: 16px;
  text-align: center;
  opacity: 0.8;
  transform: translateY(3px);
}


.widget-icon-time {
  margin-right: 6px;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  .widget-body {
    flex-direction: column; 
    gap: 20px;
  }
  .widget-side, .widget-main {
    width: 100%;
    box-sizing: border-box;
  }
}